<h1>Control de usuarios</h1>

<table>
  <thead>

    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Tipo de usuario</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Juan</td>
      <td>Martinez</td>
      <td>jmartinez@gmail.com</td>
      <td>User</td>
      <td>Activo</td>
    </tr>
    <tr>
      <td>Julieta</td>
      <td>Venegas</td>
      <td>jvenegas@gmail.com</td>
      <td>Admin</td>
      <td>Activo</td>
    </tr>
    <tr>
      <td>Martina</td>
      <td>Gonzales</td>
      <td>mgonza@gmail.com</td>
      <td>User</td>
      <td>Desactivado</td>
    </tr>
  </tbody>
</table>

<button>
  Agregar usuario
</button>

<button>
  Modificar usuario
</button>
