<h1>Control de usuarios</h1>

<table class="mt-3 mb-5">
  <thead>

    <tr>
      <th class="pr-3">Nombre</th>
      <th class="pr-3">Apellido</th>
      <th class="pr-3">Email</th>
      <th class="pr-3">Tipo de usuario</th>
      <th class="pr-3">Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Juan</td>
      <td>Martinez</td>
      <td>jmartinez@gmail.com</td>
      <td>User</td>
      <td>Activo</td>
    </tr>
    <tr>
      <td>Julieta</td>
      <td>Venegas</td>
      <td>jvenegas@gmail.com</td>
      <td>Admin</td>
      <td>Activo</td>
    </tr>
    <tr>
      <td>Martina</td>
      <td>Gonzales</td>
      <td>mgonza@gmail.com</td>
      <td>User</td>
      <td>Desactivado</td>
    </tr>
  </tbody>
</table>

<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-7">
  Agregar usuario
</button>

<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
  Modificar usuario
</button>
